@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}


body {
height: 100vh;
background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
display: flex;justify-content: space-between;
align-items: center;
color: #333;
font-weight: 500;
animation: slideUp 0.4s ease;
transition: 0.3s;
}


li.done span {
text-decoration: line-through;
color: #888;
}


li:hover {
transform: translateX(5px) scale(1.02);
}


@keyframes slideUp {
from { opacity: 0; transform: translateY(10px); }
to { opacity: 1; transform: translateY(0); }
}


.btns button {
border: none;
background: none;
cursor: pointer;
font-size: 18px;
margin-left: 10px;
}


.complete { color: #28a745; }
.edit { color: #007bff; }
.delete { color: #ff0000; }


/* PARTICLES */
.particle {
position: fixed;
border-radius: 50%;
background: radial-gradient(circle, #ff61d8, #ff8bdc, #ffb6e6);
pointer-events: none;
z-index: 9999;
}